<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" href="insta.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="./script.js"></script>
	<title>Instamood</title>
</head>
<body ng-app="Instamood">
	<div class="container" ng-controller="MainCtrl">
		<div class="row">
			<div class="login-btn btn" ng-hide="hasToken" ng-click="getInstaPics()">
				  <a href="https://api.instagram.com/oauth/authorize/?client_id=f42855a1192e4bfca4f707d18b605f92&redirect_uri=http://localhost:8000&response_type=token" class="btn btn-info btn-lg btn-block">
          <i class="fa fa-instagram"></i>
            Log in with Instagram
          </a>
			</div>
			<div ng-show="hasToken">
        <!-- challenge: make it so that you don't have to click this link for
             the pictures the load -->
				<button class="btn" ng-click="getInstaPics()">Load Pictures</button>
			<div class="stats">
				<h1><u>STATS ON STATS</u></h1>
				<table>
					<tr>
						<td><div ng-model="ego"> Ego Score: {{ egoCount }} </div></td>
						<td><div ng-model="popularity"> Popularity: {{ average }} </div></td>
						<td><div ng-model="active"> Active Days: {{ maxDay }} </div></td>
					</tr>
					<tr>
						<td><div ng-model="brevity"> Brevity: {{ caption }} </div></td>
						<td><div ng-model="visibility"> Visibility Thirst: {{ vis }} </div></td>
						<td><div ng-model ="positivity"> Positivity Score: {{ avgPositivity }} </div></td>
					</tr>
				</table>
			</div>
          <!-- this loops through all your pictures -->
				<div class="pic">	
					<div ng-repeat="pic in picArray track by $index">
            		<div class="eachpic">
            			<img ng-src="{{pic.images.standard_resolution.url}}">
            			<p class="txt"> "{{pic.caption.text}}" </p>
            			<p class="pos"> Positivity: {{ positivityArray[$index] }} </p>
            		</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>